target/
*.class
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.iws
.vscode/
*.swp

.env
*.env.local
application-prod.yml

.DS_Store
Thumbs.db
